* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Lucida Handwriting';
    font-size: 18px;
}

.page {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.reply-button {
    background-color: #FFFFFF;
    color: #00325A;
}

.reply-button:hover {
    background-color: #00325A;
    color: #FFFFFF;
}

.add-comment-button {
    background-color: #FFFFFF;
    color: #DE5050;
}

.add-comment-button:hover {
    background-color: #DE5050;
    color: #FFFFFF;
}

.moderation-message {
    color: #FF8300;
}

.comment-replies {
    margin-left: 40px;
}