* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Lucida Handwriting';
    font-size: 18px;
}

.page {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.reply-button {
    background-color: #FFFFFF;
    color: #00325A;
}

.reply-button:hover {
    background-color: #00325A;
    color: #FFFFFF;
}

.add-comment-button {
    background-color: #FFFFFF;
    color: #DE5050;
}

.add-comment-button:hover {
    background-color: #DE5050;
    color: #FFFFFF;
}

.moderation-message {
    color: #FF8300;
}

.comment-replies {
    margin-left: 0;
    padding-left: 0;
}

.comment {
    margin-bottom: 20px;
}

.comment-depth-0 {
    margin-left: 0;
}

.comment-depth-1 {
    margin-left: 6px;
}

.comment-depth-2 {
    margin-left: 11px;
}

.comment-depth-3 {
    margin-left: 15px;
}

.comment-depth-4 {
    margin-left: 18px;
}

.comment-depth-5 {
    margin-left: 20px;
}

.comment-depth-6 {
    margin-left: 22px;
}

.comment-depth-7 {
    margin-left: 24px;
}

.comment-depth-8,
.comment-depth-9,
.comment-depth-10 {
    margin-left: 25px;
}